@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f8f9fc;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-border-light: #e7ebf3;
  --color-text-main: #0d121b;
  --color-text-secondary: #4c669a;

  --font-display: "Lexend", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-sans: "Lexend", sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

:root {
  font-family: var(--font-display);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text-main);
  background-color: var(--color-background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom utility for bibliographies */
.hanging-indent {
  padding-left: 2em;
  text-indent: -2em;
}